In [1]:
import numpy as np
import pandas as pd

In [19]:
spotify_df = pd.read_csv("spotify_dataset.csv", on_bad_lines="skip")

In [18]:
spotify_df

,user_id,"""artistname""","""trackname""","""playlistname"""
0,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello,(The Angels Wanna Wear My) Red Shoes,HARD ROCK 2010
1,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello & The Attractions,"(What's So Funny 'Bout) Peace, Love And Unders...",HARD ROCK 2010
2,9cc0cfd4d7d7885102480dd99e7a90d6,Tiffany Page,7 Years Too Late,HARD ROCK 2010
3,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello & The Attractions,Accidents Will Happen,HARD ROCK 2010
4,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello,Alison,HARD ROCK 2010
...,...,...,...,...
12891675,2302bf9c64dc63d88a750215ed187f2c,Mötley Crüe,Wild Side,iPhone
12891676,2302bf9c64dc63d88a750215ed187f2c,John Lennon,Woman,iPhone
12891677,2302bf9c64dc63d88a750215ed187f2c,Tom Petty,You Don't Know How It Feels,iPhone
12891678,2302bf9c64dc63d88a750215ed187f2c,Tom Petty,You Wreck Me,iPhone
12891679,2302bf9c64dc63d88a750215ed187f2c,Skid Row,Youth Gone Wild,iPhone

In [23]:
spotify_df.columns

Index(['user_id', ' "artistname"', ' "trackname"', ' "playlistname"'], dtype='object')

In [25]:
spotify_df.drop(columns=[spotify_df.columns[-1]],inplace=True)

In [26]:
spotify_df

,user_id,"""artistname""","""trackname"""
0,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello,(The Angels Wanna Wear My) Red Shoes
1,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello & The Attractions,"(What's So Funny 'Bout) Peace, Love And Unders..."
2,9cc0cfd4d7d7885102480dd99e7a90d6,Tiffany Page,7 Years Too Late
3,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello & The Attractions,Accidents Will Happen
4,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello,Alison
...,...,...,...
12891675,2302bf9c64dc63d88a750215ed187f2c,Mötley Crüe,Wild Side
12891676,2302bf9c64dc63d88a750215ed187f2c,John Lennon,Woman
12891677,2302bf9c64dc63d88a750215ed187f2c,Tom Petty,You Don't Know How It Feels
12891678,2302bf9c64dc63d88a750215ed187f2c,Tom Petty,You Wreck Me
12891679,2302bf9c64dc63d88a750215ed187f2c,Skid Row,Youth Gone Wild

In [32]:
spotify_df.columns = spotify_df.columns.str.replace('"', '')
spotify_df.columns = spotify_df.columns.str.replace(' ', '')

In [33]:
spotify_df.columns

Index(['user_id', 'artistname', 'trackname'], dtype='object')

In [ ]:
import pandas as pd

# Assuming spotify_df is already loaded
# Load your filenames dataset if needed
# filenames_df = pd.read_csv('filenames.csv')

# Remove any quotes from the column names if present


# Step 1: Clean the data in the columns if they include quotes
spotify_df['artistname'] = spotify_df['artistname'].str.replace('"', '')
spotify_df['trackname'] = spotify_df['trackname'].str.replace('"', '')

# Step 2 and 3: Concatenate and replace spaces with underscores
spotify_df['liked_songs'] = (spotify_df['artistname'] + '_-_' + spotify_df['trackname']).str.replace(' ', '_')

# Now your spotify_df has a new column 'formatted_name' that should match the format in filenames.csv

In [40]:
spotify_df.to_csv("processed_user_spotify_dataset.csv",index=False)

In [41]:
# If not already loaded
filenames_df = pd.read_csv('filenames.csv', header=None)  # Assuming there's no header
filenames_df.columns = ['song']  # Name the column for easier reference

In [43]:
filename_set = set(filenames_df['song'])

In [59]:
spotify_df = spotify_df[spotify_df['liked_songs'].isin(filename_set)]

In [60]:
spotify_df

            user_id                       liked_songs
6             user1  Paul_McCartney_-_Band_On_The_Run
94            user1               Madness_-_Our_House
612           user2                   Incubus_-_Drive
675           user2          Linkin_Park_-_New_Divide
680           user2                Linkin_Park_-_Numb
...             ...                               ...
12891587  user13179                 Gary_Numan_-_Cars
12891592  user13179                 Aerosmith_-_Crazy
12891612  user13179             No_Doubt_-_Hella_Good
12891647  user13179   The_Doors_-_Riders_on_the_Storm
12891676  user13179               John_Lennon_-_Woman

[488489 rows x 2 columns]

In [54]:
# Factorize the user_id to get a unique integer for each unique hash ID
spotify_df['user_id'], _ = pd.factorize(spotify_df['user_id'])

# Convert these integers to 'user1', 'user2', etc.
spotify_df['user_id'] = 'user' + (spotify_df['user_id'] + 1).astype(str)

/tmp/ipykernel_266350/2294443726.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  spotify_df['user_id'], _ = pd.factorize(spotify_df['user_id'])
/tmp/ipykernel_266350/2294443726.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  spotify_df['user_id'] = 'user' + (spotify_df['user_id'] + 1).astype(str)

In [58]:
spotify_df

            user_id                       liked_songs
6             user1  Paul_McCartney_-_Band_On_The_Run
94            user1               Madness_-_Our_House
612           user2                   Incubus_-_Drive
675           user2          Linkin_Park_-_New_Divide
680           user2                Linkin_Park_-_Numb
...             ...                               ...
12891587  user13179                 Gary_Numan_-_Cars
12891592  user13179                 Aerosmith_-_Crazy
12891612  user13179             No_Doubt_-_Hella_Good
12891647  user13179   The_Doors_-_Riders_on_the_Storm
12891676  user13179               John_Lennon_-_Woman

[488489 rows x 2 columns]

In [56]:
spotify_df.to_csv("processed_user_spotify_dataset.csv",index=False)